<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-lee</title>
</head>
<body>
<h1>Tim Berners-lee</h1>
<br>
<img src="/img/1bernerslee.jpeg"  width="500" height="350" alt="Tim Berners-lee" />
<h2>Biografía</h2>
<br>
<p>Tim Berners-Lee nació en el sudoeste de Londres, Reino Unido, el 8 de junio de 1955.conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990.En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Usó ideas similares a las que había usado en el sistema Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).Berners-Lee es el presidente del Open Data Institute,que cofundó con Nigel Shadbolt in 2012.</p>
<h2>El primer servidor web y la primera página web del mundo.</h2>
<br>
<img src="/img/2bernerslee.jpeg" width="500" height="350" alt="la primera página web del mundo"/>
<p> En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
<br><br>
<a href="/">Volver al inicio</a>

</body>



</html>