<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arthur Clarke</title>
</head>
<body>
<h1>Joan Clarke</h1>
<br>
<img src="/img/joanclarke.jpg" width="375" height="350" alt="Joan Clarke">
<h2>Biografía</h2>
<br>
<p> Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 en Oxford, 4 de septiembre de 1996 Inglaterra) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.
    a GC&CS comenzó en 1939 con un único propósito, romper el Código Enigma alemán. Enigma era una máquina que los alemanes inventaron para encriptar sus mensajes; creían firmemente que su máquina era irrompible. Clarke llegó por primera vez a Bletchley Park el 17 de junio de 1940. En primer lugar, fue colocada en un grupo sólo de mujeres llamado "Las niñas", que se dedicaba principalmente al trabajo rutinario de oficina. En ese momento, la criptología no era un trabajo para mujeres.
    Fue la única mujer que trabajó en el equipo del matemático <a href="/turing">Alan Turing</a> en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</h2>
<br>
<h2>Rol central en la hazaña que implicó descifrar el Código</h2>
<img src="/img/Maquina-Bombe.jpg" width="500" height="350" alt="La máquina Bombe, diseñada para descifrar los mensajes de Enigma">
<p>A partir de 1930 la adoptaron las fuerzas militares de Alemania y se usó ampliamente por su facilidad de manejo y supuesta inviolabilidad.

    La también matemática fue una experta en Enigma y gracias a su dedicación fue ascendida a subdirectora del Hut 8, el departamento del GC&CS dedicado a descifrar los mensajes de la Armada alemana creados con dicha tecnología.
    
    Clarke y Turing fueron amigos y confidentes durante toda su vida y, durante un breve tiempo, estuvieron prometidos.En pocos días, sin embargo, destacó por sus habilidades e instalaron un escritorio extra para ella en la pequeña habitación del Hut 8 ocupado hasta entonces por Turing y un par de empleados más.

    Para poder cobrar por su nuevo puesto, Clarke tuvo que ser clasificada como lingüista, ya que la burocracia del funcionariado británico no tenía protocolos para emplear a una criptoanalista mujer.
    
    Con gran gusto rellenaría después los formularios: "grado: lingüista, idiomas: ninguno".</p>
<br><br>
<a href="/">Volver al inicio</a>
</body>
</html>