<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>¡Bienvenid@!</h1>
<p> Muchas gracias por visitar este sitio que busca mostrar de manera simple la información de las Heroínas y los Héroes tecnológicos más representativos del ámbito de la <strong> programación</strong>.</p>

<H2>Héroes DH</H2>
    <nav>
        <ul>
    <a href="/babbage"> <li>Charles Babbage</li></a>
    <a href="/lovelance"> <li>Ada Lovelace</li></a>
    <a href="/hopper"> <li>Grace Hopper</li></a>
    <a href="/turing"> <li>Alan Turing</li></a>
    <a href="/clarke"> <li>Arthur Clarke</li></a>
    <a href="/hamilton"> <li>Margaret Hamilton</li></a>
    <a href="/bernerslee"> <li>Tim Berners-lee</li></a>
        </ul>
    </nav>
</body>
</html>
