<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <h1>Ada Lovelance</h1>
    <br>
<img src="/img/1ovelance.jpg"  width="350" height="450" alt="Ada Lovelance,matemática ">
  <h2>Biografia</h2>
 <p>Augusta Ada King, condesa de Lovelace (Nacio en Londres,el 10 de diciembre de 1815-fallecimiento 27 de noviembre de 1852 Marylebone,Londres, Reino Unido) registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de <a href="/babbage">Charles Babbage</a>,Dedujo y previó la capacidad de los ordenadores para ir más allá de los simples cálculos de números, mientras que otros(incluido el propio <a href="/babbage">Babbage</a>),se centraron únicamente en estas capacidades. la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores

 </p>
<h2>Algoritmo para calcular los números de Bernoulli.</h2>
<br>
<img src="/img/2lovelance.jpg"  width="450" height="350" alt="Diagrama de Lovelace de la nota G, el primer algoritmo informático publicado">
<p>Este algoritmo para calcular los números de Bernoulli, una serie de fracciones con diferentes aplicaciones en matemáticas, se ha considerado por muchos como el primer programa/algoritmo de la historia. Consecuentemente, muchos perfiles de la figura de Ada Lovelace lo celebran como la primera persona programadora de la historia. Sin embargo, se ha mantenido durante años la controversia sobre el grado de participación de <a href="/babbage">Babbage</a>) en la confección de las notas de Lovelace. Es una controversia complicada debido al hecho de que se ha tomado, en los últimos años, la contribución de Ada como "una cuestión de género"​ y a la atención creciente de la promoción de las mujeres en Ciencia, Tecnología, Ingeniería y Matemáticas (STEM)</p>
<br><br>
<a href="/">Volver al inicio</a>
</body>
</html>